.contenedor{
    position: absolute;
    top: 15px;
    right: 35px;
    gap: 5px;
    padding: 10px;
    display: flex;
    justify-content:left;
    align-items: left;
}

.imgbuscar{
    width: 20px;
    height: 20px;
}
.txtbuscar{
    border:none;
    font-size: 0.9rem;
    border-radius: 8px;
    outline: none;
    color:#531313;
}


.oscuro{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 35px;
    padding: 80px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
    color: #FFFFFF;
}

.claro {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 35px;
    padding: 80px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #F0F1F2;
    color: #531313;
}

@media (max-width: 1000px) {
    .contenedor{
        position: absolute;
        top: 15px;
        right: 5px;
        gap: 2px;
        padding: 5px;
    }
    
    .imgbuscar{
        display:none;
    }

    .txtbuscar{
        border:none;
        font-size: 0.9rem;
        border-radius: 7px;
        width: 130px;
    }
    
    .claro .oscuro {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 388px) {
    .contenedor{
        position: absolute;
        top: 57px;
        right: 20px;
        gap: 1px;
        padding: 4px;
    }

    .txtbuscar{
        border:none;
        font-size: 0.9rem;
        border-radius: 7px;
        width: 110px;
    }
}